body {
  background-color: #38456d;
  color: #d0d2e9;
}

.form-select {
  background-color: #38456d;
  color: #d0d2e9;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23d0d2e9' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}

.form-select:hover,
.form-select:focus{
  background-color: #4a5985;
}
